## Final Project
### In order to solve this set of questions you will use the dataset in the relative directory ./tmdb_5000_movies.csv

In [1]:

import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt


%matplotlib inline

In [2]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pandas>=1.2 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\lapshop\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)

## Final Project
### In order to solve this set of questions you will use the dataset in the relative directory ./tmdb_5000_movies.csv

### Open Your CSV file and print the first 10 rows in a good format ###

In [3]:
df = pd.read_csv('./tmdb_5000_movies.csv')

In [4]:
print(df.head(10))

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5  258000000  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6  260000000  [{"id": 16, "name": "Animation"}, {"id": 10751...
7  280000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8  250000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9  250000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                            homepage      id  \
0                        http://www.avatarmovie.com/   19995
1       http://disney.go.com/disneypictures/pirates/     285
2        http://www.sonypictures.com/movies/spectre/  206647
3                 http://www.thedarkknightrises.com/   49026
4               http://movies.disney.com/john-carter   49529
5    http://www.sonypictures.com/movies/spider-man3/     559
6       http://disney.go.com/disneypictures/tangled/   38757
7  http://marvel.com/movies/movie/193/avengers_ag...   99861
8  http://harrypotter.warnerbros.com/harrypottera...     767
9       http://www.batmanvsupermandawnofjustice.com/  209112

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en
5  [{"id": 851, "name": "dual identity"}, {"id": ...                en
6  [{"id": 1562, "name": "hostage"}, {"id": 2343,...                en
7  [{"id": 8828, "name": "marvel comic"}, {"id": ...                en
8  [{"id": 616, "name": "witch"}, {"id": 2343, "n...                en
9  [{"id": 849, "name": "dc comics"}, {"id": 7002...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter
5                              Spider-Man 3
6                                   Tangled
7                   Avengers: Age of Ultron
8    Harry Potter and the Half-Blood Prince
9        Batman v Superman: Dawn of Justice

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995
5  The seemingly invincible Spider-Man goes up ag...  115.699814
6  When the kingdom's most wanted-and most charmi...   48.681969
7  When Tony Stark tries to jumpstart a dormant p...  134.279229
8  As Harry begins his sixth year at Hogwarts, he...   98.885637
9  Fearing the actions of a god-like Super Hero l...  155.790452

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]
5  [{"name": "Columbia Pictures", "id": 5}, {"nam...
6  [{"name": "Walt Disney Pictures", "id": 2}, {"...
7  [{"name": "Marvel Studios", "id": 420}, {"name...
8  [{"name": "Warner Bros.", "id": 6194}, {"name"...
9  [{"name": "DC Comics", "id": 429}, {"name": "A...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100
5  [{"iso_3166_1": "US", "name": "United States o...   2007-05-01   890871626
6  [{"iso_3166_1": "US", "name": "United States o...   2010-11-24   591794936
7  [{"iso_3166_1": "US", "name": "United States o...   2015-04-22  1405403694
8  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2009-07-07   933959197
9  [{"iso_3166_1": "US", "name": "United States o...   2016-03-23   873260194

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released
5    139.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
6    100.0           [{"iso_639_1": "en", "name": "English"}]  Released
7    141.0           [{"iso_639_1": "en", "name": "English"}]  Released
8    153.0           [{"iso_639_1": "en", "name": "English"}]  Released
9    151.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.
5                              The battle within.
6        They're taking adventure to new lengths.
7                             A New Age Has Come.
8                           Dark Secrets Revealed
9                              Justice or revenge

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
5                              Spider-Man 3           5.9        3576
6                                   Tangled           7.4        3330
7                   Avengers: Age of Ultron           7.3        6767
8    Harry Potter and the Half-Blood Prince           7.4        5293
9        Batman v Superman: Dawn of Justice           5.7        7004

In [5]:
df.shape

(4803, 20)

In [6]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
df.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              4803 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4803 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4803 non-null   datetime64[ns]
 12  revenue               4803 non-null   int64
 13  runtime               4803 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               4803 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  release_year          4803 non-null   int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(4), object(12)
memory usage: 769.4+ KB

##### Exploring data

### Check if any NANs in your dataset and fill them with a good filer ###

In [9]:
"""
We can fill the datasets by many ways. depending on the way we see the data. the filling method always depend on the 
understanding of the columns variables
"""
# mean is not always the best solution, if there is any outliers, it will be misleading. 
#more suitable with symmetric data distribution
"""dataset.fillna(dataset.mean(), inplace = True) """

# median is a good solution with skewed data. but since we have categoricals variables I cannot use it
"""dataset.fillna(dataset.median(), inplace = True)"""

# also we can use linear interpolation to fill the nan data,
# in this code snippet it will change the nan with the most suitable number, to follow the direction of increasing.
"""dataset.interpolate(method ='linear', limit_direction ='forward')"""

"dataset.interpolate(method ='linear', limit_direction ='forward')"

In [10]:
nan_count = df.isna().sum()
print(nan_count)

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [11]:
#علشان الاعمده من النوع النصي ف هنستحدم لوك
df.fillna(df.mode().iloc[0], inplace=True)

In [12]:
#check
print(df.isna().sum())

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

In [13]:
df.dropna(axis =1 ,inplace = True)

In [18]:
df['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')
df['release_year'] = df['release_date'].dt.year

### Discover the types of each columns and modify them if needed ###

In [20]:
print(df.dtypes)

budget                           int64
genres                          object
homepage                        object
id                               int64
keywords                        object
original_language               object
original_title                  object
overview                        object
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                          int64
runtime                        float64
spoken_languages                object
status                          object
tagline                         object
title                           object
vote_average                   float64
vote_count                       int64
release_year                     int32
dtype: object

### Give a very simple statistical analsys for the numerical columns ###

In [16]:
 statistical_analsys = df.describe()
statistical_analsys

,budget,id,popularity,release_date,revenue,runtime,vote_average,vote_count,release_year
count,4.803000e+03,4803.000000,4803.000000,4803,4.803000e+03,4803.000000,4803.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,2002-12-28 05:15:42.161149440,8.226064e+07,106.868832,6.092172,690.217989,2002.469498
min,0.000000e+00,5.000000,0.000000,1916-09-04 00:00:00,0.000000e+00,0.000000,0.000000,0.000000,1916.000000
25%,7.900000e+05,9014.500000,4.668070,1999-07-14 00:00:00,0.000000e+00,94.000000,5.600000,54.000000,1999.000000
50%,1.500000e+07,14629.000000,12.921594,2005-10-05 00:00:00,1.917000e+07,103.000000,6.200000,235.000000,2005.000000
75%,4.000000e+07,58610.500000,28.313505,2011-02-16 00:00:00,9.291719e+07,117.500000,6.800000,737.000000,2011.000000
max,3.800000e+08,459488.000000,875.581305,2017-02-03 00:00:00,2.787965e+09,338.000000,10.000000,13752.000000,2017.000000
std,4.072239e+07,88694.614033,31.816650,NaN,1.628571e+08,22.609847,1.194612,1234.585891,12.413166

### Calculate the mean rate for [1999, 1980, 2004, 2017] the movies grouped by years ###

In [40]:
target_years = [1999, 1980, 2004, 2017]
df["year"] =df["release_date"].dt.year
filtered_df = df[df["year"].isin(target_years)]
mean_ratings = filtered_df.groupby("year")["vote_average"].mean()
print(mean_ratings)

year
1980    6.609091
1999    6.110526
2004    6.104412
2017    7.400000
Name: vote_average, dtype: float64

### Rearange the dataframe based on revenue - budget values ###

In [41]:
df['revenue_budget_diff'] = df['revenue'] - df['budget']
df_sorted = df.sort_values(by='revenue_budget_diff', ascending=False)
print(df_sorted.head())

       budget                                             genres  \
0   237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
25  200000000  [{"id": 18, "name": "Drama"}, {"id": 10749, "n...
28  150000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
44  190000000                     [{"id": 28, "name": "Action"}]
16  220000000  [{"id": 878, "name": "Science Fiction"}, {"id"...

                             homepage      id  \
0         http://www.avatarmovie.com/   19995
25        http://www.titanicmovie.com     597
28      http://www.jurassicworld.com/  135397
44           http://www.furious7.com/  168259
16  http://marvel.com/avengers_movie/   24428

                                             keywords original_language  \
0   [{"id": 1463, "name": "culture clash"}, {"id":...                en
25  [{"id": 2580, "name": "shipwreck"}, {"id": 298...                en
28  [{"id": 1299, "name": "monster"}, {"id": 1718,...                en
44  [{"id": 830, "name": "car race"}, {"id": 3428,...                en
16  [{"id": 242, "name": "new york"}, {"id": 5539,...                en

    original_title                                           overview  \
0           Avatar  In the 22nd century, a paraplegic Marine is di...
25         Titanic  84 years later, a 101-year-old woman named Ros...
28  Jurassic World  Twenty-two years after the events of Jurassic ...
44       Furious 7  Deckard Shaw seeks revenge against Dominic Tor...
16    The Avengers  When an unexpected enemy emerges and threatens...

    popularity                               production_companies  ...  \
0   150.437577  [{"name": "Ingenious Film Partners", "id": 289...  ...
25  100.025899  [{"name": "Paramount Pictures", "id": 4}, {"na...  ...
28  418.708552  [{"name": "Universal Studios", "id": 13}, {"na...  ...
44  102.322217  [{"name": "Universal Pictures", "id": 33}, {"n...  ...
16  144.448633  [{"name": "Paramount Pictures", "id": 4}, {"na...  ...

      status                                    tagline           title  \
0   Released                Enter the World of Pandora.          Avatar
25  Released  Nothing on Earth could come between them.         Titanic
28  Released                          The park is open.  Jurassic World
44  Released                        Vengeance Hits Home       Furious 7
16  Released                    Some assembly required.    The Avengers

    vote_average vote_count release_year      profit  \
0            7.2      11800         2009  2550965087
25           7.5       7562         1997  1645034188
28           6.5       8662         2015  1363528810
44           7.3       4176         2015  1316249360
16           7.4      11776         2012  1299557910

                                  country_list  year  revenue_budget_diff
0   [United States of America, United Kingdom]  2009           2550965087
25                  [United States of America]  1997           1645034188
28                  [United States of America]  2015           1363528810
44           [Japan, United States of America]  2015           1316249360
16                  [United States of America]  2012           1299557910

[5 rows x 25 columns]

### Allocate the year with the largest movies released in ['Action', 'Romance'] ###

In [43]:
filtered = df[df["genres"].str.contains("Action|Romance", case=False, na=False)]
movies_per_year = filtered["year"].value_counts().sort_values(ascending=False)
most_active_year = movies_per_year.idxmax()
count = movies_per_year.max()

print(f"The year with the most 'Action' or 'Romance' movies is {most_active_year} with {count} movies.")

The year with the most 'Action' or 'Romance' movies is 2009 with 108 movies.

### Find the movies with top 5 revenue - budget value ###

In [45]:
print(df_sorted[["title", "budget", "revenue", "profit"]].head(5))

             title     budget     revenue      profit
0           Avatar  237000000  2787965087  2550965087
25         Titanic  200000000  1845034188  1645034188
28  Jurassic World  150000000  1513528810  1363528810
44       Furious 7  190000000  1506249360  1316249360
16    The Avengers  220000000  1519557910  1299557910

### Find the year with the highest number of movies release ###

In [28]:
movies_per_year = df['release_year'].value_counts().sort_values(ascending=False)

In [29]:
top_year = movies_per_year.idxmax()
top_count = movies_per_year.max()

In [30]:
print(f"أكثر سنة تم فيها إصدار أفلام هي: {top_year} بعدد أفلام: {top_count}")

أكثر سنة تم فيها إصدار أفلام هي: 2009 بعدد أفلام: 247

In [31]:
movies_per_year = df['release_year'].value_counts().sort_index()

### Find the top 2 countries with the highest production movies number ###

### Is there any relation between the runtime and average vote value ### **

### Find the top 5 movies with the highest rate, and find if there anything common between them. ###

### Find the most unsuccessful movie along time in terms of revenue - budget ###

### Rearange the dataframe based on vote_average column values ###

### Rearange the dataframe based on runtime column values ###

### Find the top 5 successful years for the USA cinema based on the total income devided by number of movies  ###

### Find the most succesfull movie in [USA, UK] ###

### In your opinion what is the highest variable that affects the revenue value (high coloration) ### PONUS

## Good Luck